In [1]:
import pandas as pd
from datetime import datetime, date, timedelta
import requests
from pytz import timezone

In [3]:
def tomorrows_flight_arrivals(icao_list):

  today = datetime.now().astimezone(timezone('Europe/Berlin')).date()
  tomorrow = (today + timedelta(days=1))

  list_for_df = []

  for icao in icao_list:
    times = [["08:00","09:00"],["09:00","12:00"]]

    for time in times:
      url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow}T{time[0]}/{tomorrow}T{time[1]}"
      querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"false","withCodeshared":"true","withCargo":"false","withPrivate":"false"}
      headers = {
          'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
          'x-rapidapi-key': "419bc00184msh3cf56dcb9e2bb5fp145db2jsnb7e77dc1bd65"
          }
      response = requests.request("GET", url, headers=headers, params=querystring)
      flights_json = response.json()

      for flight in flights_json['arrivals']:
        flights_dict = {}
        flights_dict['arrival_icao'] = icao
        # .get() is another way of ensuring our code doesn't break
        # in the previous 2 notebooks you learnt about 'if' (cities) and 'try/except' (weather)
        # .get() works similar, it will get the text if possible, if there is no text a None value will be inserted instead
        flights_dict['arrival_time_local'] = flight['arrival'].get('scheduledTimeLocal', None)
        flights_dict['arrival_terminal'] = flight['arrival'].get('terminal', None)
        flights_dict['departure_city'] = flight['departure']['airport'].get('name', None)
        flights_dict['departure_icao'] = flight['departure']['airport'].get('icao', None)
        flights_dict['departure_time_local'] = flight['departure'].get('scheduledTimeLocal', None)
        flights_dict['airline'] = flight['airline'].get('name', None)
        flights_dict['flight_number'] = flight.get('number', None)
        flights_dict['data_retrieved_on'] = datetime.now().astimezone(timezone('Europe/Berlin')).date()
        list_for_df.append(flights_dict)

  return pd.DataFrame(list_for_df)

In [ ]:
json

In [4]:
icaos = ['EDDL', 'EGLL']
tomorrows_flight_arrivals(icaos).head()

,arrival_icao,arrival_time_local,arrival_terminal,departure_city,departure_icao,departure_time_local,airline,flight_number,data_retrieved_on
0,EDDL,2022-08-19 08:05+02:00,B,Heraklion,LGIR,None,Corendon Europe,XR 565,2022-08-18
1,EDDL,2022-08-19 08:20+02:00,C,İzmir,LTBJ,2022-08-19 06:00+03:00,Corendon Air,XC 3783,2022-08-18
2,EDDL,2022-08-19 08:25+02:00,C,İzmir,LTBJ,2022-08-19 06:00+03:00,SunExpress,XQ 988,2022-08-18
3,EDDL,2022-08-19 08:30+02:00,C,Antalya,LTAI,2022-08-19 05:30+03:00,SunExpress,XQ 282,2022-08-18
4,EDDL,2022-08-19 08:40+02:00,A,Munich,EDDM,2022-08-19 07:30+02:00,Lufthansa,LH 2010,2022-08-18