In [36]:
import pandas as pd

In [37]:
import requests
from bs4 import BeautifulSoup

def get_html_wiki_text_label(keyword, location):
    response = requests.get(f'https://en.wikipedia.org/wiki/{location}')
    soup = BeautifulSoup(response.content, 'html.parser')
    i = 0
    for item in soup.select("th.infobox-label"):
        if(keyword in item.get_text()):
            return soup.select("td.infobox-data")[i].get_text()
        i = i+1

In [38]:
print(get_html_wiki_text_label('Country', 'Berlin'))
print(get_html_wiki_text_label('State', 'Berlin'))
print(get_html_wiki_text_label('City/State', 'Berlin'))
print(get_html_wiki_text_label('Urban', 'Berlin'))
print(get_html_wiki_text_label('Metro', 'Berlin'))

Germany
Berlin
891.7 km2 (344.3 sq mi)
4,473,101
6,144,600

In [39]:
target_cities = ['Berlin', 'Frankfurt']
Countries = []
States = []
City_State = []
Urban = []
Metro = []
for city in target_cities:
    Countries.append(get_html_wiki_text_label('Country', city))
    States.append(get_html_wiki_text_label('State', city))
    City_State.append(get_html_wiki_text_label('City/State', city))
    Urban.append(get_html_wiki_text_label('Urban', city))
    Metro.append(get_html_wiki_text_label('Metro', city))

In [40]:
pd.DataFrame({
'Countries' : Countries,
'States': Cities,
'City_State': City_State,
'Urban': Urban,
'Metro': Metro    
}
)

  Countries  States               City_State         Urban         Metro
0   Germany  Berlin  891.7 km2 (344.3 sq mi)     4,473,101     6,144,600
1   Germany   Hesse                     None  2,319,029[3]  5,604,523[2]

### 1. Create table in mysql,  https://www.w3schools.com/sql/sql_create_table.asp, https://www.w3schools.com/sql/sql_datatypes.asp
### 2. Test insert in mysql https://www.w3schools.com/sql/sql_insert.asp
### 3. While you are looping in target cities in the code below push the data into mysql via python. Use python code iss_insert_data_sql as example.

for city in target_cities:

    country = get_html_wiki_text_label('Country', city)
    
    state = get_html_wiki_text_label('State', city)
    
    urban =...
    ...
    data_to_push = (country, state, .....)

### Extra: try to use directly pandas you created to push dataframe to mysql: https://pythontic.com/pandas/serialization/mysql#:~:text=Create%20a%20dataframe%20by%20calling,data%20from%20the%20pandas%20dataframe.